<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{user.jk}} {{user.nama}} (admin)
<br><br>
Bersama ini diberitahukan bahwa Batas Usia Pensiun (BUP) pegawai berikut akan jatuh pada 1 April 2019, yaitu:<br>
1. .......<br>
2. .......<br>
Pegawai tersebut dapat mengajukan MPP (Masa Persiapan Pensiun) yang dapat diambil 1 tahun sebelum TMT pensiun (formulir terlampir).<br>
Atau jika tidak mengambil MPP maka Pegawai tersebut dapat mengisi formulir pengajuan pensiun (terlampir) dan melengkapi berkas-berkas persyaratan pensiun yang diperlukan. yaitu: <br>
1. Pas foto hitam putih 3x4 cm sebanyak 7 lembar<br>
2. Fotocopy sah SK Pengangkatan CPNS dan PNS<br>
3. Fotocopy sah SK Kenaikan Pangkat terakhir<br>
4. Fotocopy sah Karpeg<br>
5. Fotocopy sah Karis/Karsu<br>
6. Fotocopy sah Taspen<br>
7. Daftar Susunan Keluarga<br>
8. Fotocopy sah Akta Nikah<br>
9. Fotocopy sah Akta Kelahiran Anak<br>
10. Surat Permintaan Pembayaran Pensiun Pertama (SP-4)<br>
11. Surat Keterangan alamat setelah pensiun<br>
12. SKP tahun terakhir<br>
selanjutnya diserahkan kepada Subbagian Kepegawaian STIS paling lambat 1 April 2018 untuk diproses lebih lanjut. 
<br><br>
Demikian disampaikan atas perhatiannya diucapkan terima kasih.
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Untuk masuk ke SIMANIS klik <a href="http://10.100.203.88:8000/admin">Masuk</a>.</span></em>