<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk}} {{user.nama}}
<br><br>
Sehubungan dengan rencana pemberian tanda penghargaan Satyalancana Karya Satya Tahun 2018, bersama ini diberitahukan hal-hal berikut:<br>
1. Anda telah memenuhi syarat masa kerja untuk diusulkan mendapat tanda penghargaan sesuai dengan kelompok masa kerja 10/20/30 Tahun. <br>
2. Perlu diketahui syarat masa kerja tersebut hanya sebagai dasar seleksi penyusunan usulan penerima Satyalancana Karya Satya.<br>
3. Pimpinan akan melakukan seleksi berdasarkan kriteria yang telah ditentukan antara lain:<br>
a. Rata-rata PPK PNS Tahun sebelumnya bernilai baik dan tidak ada aspek serta unsur yang bernilai cukup;<br>
b. Menunjukkan kesetiaan, pengabdian, kecakapan, kejujuran, kedisiplinan dan prestasi kerja yang baik sehingga dapat dijadikan teladan bagi setiap pegawai lain;<br>
c. Dalam masa kerja yang diusulkan yang bersangkutan tidak pernah dijatuhi hukuman disiplin Tingkat Sedang atau Tingkat Berat.<br><br>

Demikian atas perhatian dan kerjasamanya disampaikan terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Untuk masuk ke SIMANIS klik <a href="http://10.100.203.88:8000">Masuk</a>.</span></em>