<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk.label2}} {{user.nama}}
<br><br>
Bersama ini diberitahukan bahwa penyerahan memo perubahan/perbaikan presensi kepada Subbagian Kepegawaian STIS akan ditutup pada tanggal <strong>{{batas_memo}} pukul 15.00 WIB</strong>. Harap segera memeriksa kehadiran {{user.jk.label2}} pada <strong>Presensi Online/Community</strong>, dan mengajukan perubahan/perbaikan presensi apabila ditemukan ketidaksesuaian data kehadiran. Keterlambatan dalam menyerahkan memo perbaikan presensi tersebut dapat berakibat pada <strong>pemotongan Tunjangan Kinerja yang lebih besar atau Kekurangan Jam Kerja (KJK)</strong>.<br><br>

Demikian atas perhatian dan kerjasamanya disampaikan terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Email ini dibuat secara otomatis. Mohon tidak membalas email ini.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://simanis.stis.ac.id">Masuk</a>.</span></em>