<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk}} {{user.nama}}
<br><br>
Jadwal Kenaikan Gaji Berkala Bapak/Ibu dapat dilakukan pada 01 April 2018. 
Sesuai dengan PP Nomor 7 tahun 1977, pasal 13, Kenaikan Gaji Berkala dapat ditunda apabila pegawai yang bersangkutan:<br>
1. Melakukan perbuatan tercela yang dapat mengurangi nilai rata-rata PPK (Penilaian Prestasi Kerja) 
menjadi 60 ke bawah (PP Nomor 46 tahun 2011)<br>
2. Sedang menjalani hukuman disiplin (PP Nomor 53 Tahun 2010)<br><br>

Demikian disampaikan atas perhatiannya Terima kasih.
<br><br>
Terima kasih,
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Anda akan kembali menerima email ini 15 hari lagi. Untuk berhenti menerima email klik <a href="http://10.100.203.88:8000/konfirmasi/kb/{{unsubscribe_token}}">konfirmasi email</a>.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://10.100.203.88:8000">Masuk</a>.</span></em>