<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
span {
    color: #999;
    font-size: 
}
</style>

Yth. {{user.jk}} {{user.nama}} (admin)
<br><br>
Bersama ini diberitahukan bahwa periode Kenaikan Gaji Berkala (KGB) pegawai berikut jatuh pada 1 Januari 2018, yaitu:
<br>
1. ..... <br>
2. ..... <br>
Demikian disampaikan atas perhatiannya Terima kasih.
<br>
<em>Subbagian Kepegawaian STIS<em>
<hr>
<em><span>Anda akan menerima email reminder ini setiap minggu (bulan ini). Untuk berhenti menerima email klik <a href="http://10.100.203.88:8000/konfirmasi/ka/{{unsubscribe_token}}">konfirmasi email</a>.</span><br>
<span>Untuk masuk ke SIMANIS klik <a href="http://10.100.203.88:8000">Masuk</a>.</span></em>