<style>
span {
    color: #999;
    font-size: 
}
</style>
Yth. {{user.jk}} {{user.nama}}
<br><br>
1. Berdasarkan data yang ada, bapak/Ibu dilahirkan tanggal .......... dan berdasarkan pasa 239 PP Nomor 11 Tahun 2017 tentang Manajemen PNS, Bapak/Ibu akan diberhentikan dengan jormat sebagai PNS karena mencapi Batas Usia Pensiun. <br>
2. Sehubungan dengan hal tersebut, Bapak/Ibu dimohon segera mengajukan usulan permohonan pemberhentian dengan hormat sebagai PNS dengan hak pensiun, dan melengkapi berkas sebagai persyaratan pensiun (terlampir).<br>
3. Bersama ini kami beritahukan pula bahwa sebelum diberhentikan dengan hormat sebagai PNS dengan hak pensiun, Saudara dapat menggunakan hak Masa Persiapan Pensiun (MPP)/pembebasan dari jabatan paling lama 12 (dua belas) bu;an dengan mendapat penghasilan sesuai dengan peraturan perundang-undangan yang berlaku, dengan mengisi formulir terlampir.<br><br>

Demikian atas perhatian dan kerjasamanya disampaikan terima kasih.
<br>
<br>
Subbagian Kepegawaian STIS
<hr>
<em><span>Untuk masuk ke SIMANIS klik <a href="http://10.100.203.88:8000">Masuk</a>.</span></em>